# Terraform files
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/*.tfplan.*
terraform/.terraform/
terraform/.terraform.lock.hcl

# Sensitive files
terraform/terraform.tfvars
terraform/*.tfvars
terraform/.env

# SSH Keys and Certificates
*.pem
*.key
*.ppk
*.pub
id_rsa*
id_ed25519*
ssh-keys/
keys/
certificates/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo


usefullcommand.txt
errors.txt
