global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats timeout 30s
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend stats
    bind *:{{ haproxy_stats_port }}
    stats enable
    stats uri /stats_secure
    stats refresh 10s
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_pass }}

frontend etcd-main
    bind *:{{ etcd_port }}
    retries 3
    mode tcp
    option tcplog
    default_backend etcd-main-backend

frontend kube-main
    bind *:{{ kube_port }}
    retries 3
    mode tcp
    option tcplog
    default_backend kube-main-backend

backend etcd-main-backend
    mode tcp
    balance roundrobin
{% for host in etcd_hosts %}
    server {{ host.name }} {{ host.ip }}:{{ etcd_port }} check
{% endfor %}

backend kube-main-backend
    mode tcp
    balance roundrobin
{% for host in master_hosts %}
    server {{ host.name }} {{ host.ip }}:{{ kube_port }} check
{% endfor %}

frontend dashboard-main
    bind *:{{ dashboard_public_port }}
    retries 3
    mode tcp
    option tcplog
    default_backend dashboard-main-backend

backend dashboard-main-backend
    mode tcp
    balance roundrobin
{% for host in master_hosts %}
    server {{ host.name }} {{ host.ip }}:{{ dashboard_node_port }} check
{% endfor %}

frontend mongo-express-main
    bind *:{{ mongo_express_public_port }}
    retries 3
    mode http
    option httplog
    default_backend mongo-express-main-backend

backend mongo-express-main-backend
    mode http
    balance roundrobin
{% for host in master_hosts %}
    server {{ host.name }} {{ host.ip }}:{{ mongo_express_node_port }} check
{% endfor %}
