[Unit]
Description=etcd - highly-available key value store
Documentation=https://etcd.io/docs/
After=network.target
Wants=network-online.target

[Service]
Type=notify
User=etcd
Group=etcd
EnvironmentFile=/etc/etcd/etcd.conf
ExecStart=/usr/local/bin/etcd
Restart=on-failure
RestartSec=5
LimitNOFILE=40000
TimeoutStartSec=300
KillMode=mixed

# Improve logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
